input#car0(type='radio', name='car', checked='checked')
div
each game, index in games
    input(id=`car${index + 1}`, data-game=game.id, type='radio', name='car')
    div
        label.carusel__arrow(for=`car${index}`)
            img(src='img/left-arrow.svg')
        label(for=`car${index}`)
            div.carusel__item(data-content=game.title)