mixin field(label, type, name, placeholder, index)
    .field

        .field__header
            .field__header__error

        .field__main
            input.field__main__input(type=type, name=name, placeholder=placeholder, maxlength='32')
            .field__main__label= label
            if type === 'password'
                input.hidden(id=`settings__show__password${index}` type='checkbox')
                label.field__main__show-password.pointer(for=id = `show__password${index}`) &#x1f441;

.container.container_theme_settings
    .form__logo Settings
    form.form.form_theme_settings(action='#', method='post')
        .container_theme_settings-left
            .form__inputs
                +field('Username', 'text', 'username', 'Username', 1)
                +field('Old Password', 'password', 'oldPassword', 'Password', 2)
                +field('New Password', 'password', 'newPassword', 'Password', 3)
                +field('Repeat New Password', 'password', 'repeatNewPassword', 'Password', 4)
            .form__buttons
                .form__buttons__button
                    button.button.button_theme_submit.pointer(type='submit') Confirm
        input#avatar.hidden(type='file', name='avatar', accept='image/jpeg,image/png,image/gif')
        label.container_theme_settings-right(for='avatar')
            .avatar__text-content
                | Choose avatar
            img.avatar__image